@inject NavigationManager pageNav;
@inherits LayoutComponentBase

<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>