/* /Pages/Main.razor.rz.scp.css */
/* /Pages/SubForum.razor.rz.scp.css */

.subCentered[b-whwl78jhxb] {
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 51px;
}

/* Centered text */
.centered[b-whwl78jhxb] {
    position: absolute;
    top: 166%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
}

.pageStart[b-whwl78jhxb]{
    padding-top: 220px;
}
.overlayImg[b-whwl78jhxb]{
    width: 100%; position: absolute; left: 0; top: 54px;
}

.card-style[b-whwl78jhxb]{
    width: 40rem;
    left: 23rem;
    text-align: center;
}

/* /Pages/UIComponents/LoginButtons.razor.rz.scp.css */
.icon[b-f5solmxpb3] {
    width: 30px;
    cursor: pointer;
}
/* /Pages/UIComponents/Modal.razor.rz.scp.css */
.modal-background[b-aurelpbtcx] { /* This style class makes the background darker, and un-clickable */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.47); /* Black w/ opacity */
    display:block;
}

/* Modal Content/Box */
.modal-box[b-aurelpbtcx] {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #000000;
    /*display:inline-block;*/
    width: 30%; /* Could be more or less, depending on screen size */
    min-width: 300px;
    border-radius: 25px;
    box-shadow: 0 5px 30px 15px #3f3f3f;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-6v8oqhpdl4] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-6v8oqhpdl4] {
    flex: 1;
}

.sidebar[b-6v8oqhpdl4] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-6v8oqhpdl4] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-6v8oqhpdl4]  a, .top-row[b-6v8oqhpdl4]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-6v8oqhpdl4]  a:hover, .top-row[b-6v8oqhpdl4]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-6v8oqhpdl4]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6v8oqhpdl4] {
        display: none;
    }

    .top-row.auth[b-6v8oqhpdl4] {
        justify-content: space-between;
    }

    .top-row[b-6v8oqhpdl4]  a, .top-row[b-6v8oqhpdl4]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6v8oqhpdl4] {
        flex-direction: row;
    }

    .sidebar[b-6v8oqhpdl4] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6v8oqhpdl4] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-6v8oqhpdl4]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-6v8oqhpdl4], article[b-6v8oqhpdl4] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-69rflur3ak] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-69rflur3ak] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-69rflur3ak] {
    font-size: 1.1rem;
}

.oi[b-69rflur3ak] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-69rflur3ak] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-69rflur3ak] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-69rflur3ak] {
    padding-bottom: 1rem;
}

.nav-item[b-69rflur3ak]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-69rflur3ak]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-69rflur3ak]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-69rflur3ak] {
        display: none;
    }

    .collapse[b-69rflur3ak] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
